$brand-color: #40A4FF;
$danger-color: #FF6F40;
$success-color: #40FF8F;

$white: #fff;
$cloud-burst: #20324C; // Body background
$menu-color: $brand-color;
$rhino: #293D5E; // Also separator

$anakiwa: #A6DAFF; // both in menu and view
$danube: #79A0DC; // submenu background

$brand-gradient: linear-gradient(135deg, #42b9ed 0%,#60ddc5 100%);
$danger-gradient: linear-gradient(135deg, #ff2f65 0%,#ff5f62 100%);
$success-gradient: linear-gradient(135deg, #60DD81 0%,#60ddc5 100%);

//transitions
$transition: all .3s cubic-bezier(.45,.01,.51,1);
$transition-fast: all .15s cubic-bezier(.45,.01,.51,1);
$transition-slow: all .4s cubic-bezier(.45,.01,.51,1);

// Breakpoints
$break-small: 600px;
$break-medium: 800px;

// Sizes
$menu-height: 55px;
