.Button {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background: $brand-gradient;
    border: none;
    border-radius: 1.75rem;

    &--small {
        line-height: 1rem;
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--danger {
        background: $danger-gradient;
    }

    &--success {
        background: $success-gradient;
    }
}
