.Cards {
    @include outer-container;

    &__card {
        @media (min-width: $break-small) {
            @include span-columns(4);
            @include omega(3n);
            display: flex;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        border: 2px solid $danube;
        border-radius: 5px;
    }

    &__image {
        width: 60px;
        max-width: 100%;
        height: 60px;
        margin-top: -32px;
        border: 4px solid $cloud-burst;
        border-radius: 30px;
    }

    &__title {
        margin-top: .5rem;
        margin-bottom: 0;
    }

    &__button {
        box-sizing: content-box;
        margin-bottom: -1.3rem;
        border: 4px solid $cloud-burst;
    }
}
