.Form {
    width: 100%;

    &__group {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-right: 1rem;
    }

    &__field {
        flex: 1 350px;
        padding: .5rem 0 .5rem 1rem;
    }

    &__submit {
        margin-left: 1rem;
    }
}
