.FormError {
    min-height: 3.2rem;
    padding: 0 1rem 1rem 1rem;
    margin: 0;

    &__error {
        width: 100%;
        padding: .4rem 1rem;
        color: $white;
        list-style: none;
        background: $danger-gradient;
        border-radius: 5px;
    }

    &__transition-transition {
        opacity: 1;
        transition: $transition;
        transform: translate3d(0,0,0);
    }

    &__transition-enter,
    &__transition-leave {
        opacity: 0;
        transform: translate3d(0,-10px,0);
    }

    &__transition-enter {
        transform: translate3d(0,10px,0);
    }
}
