.Loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin: 0 auto;
    animation: fade-in 5s linear 2s;

    &__text {
        margin-top: 1.5rem;
    }

    &__icon {
        width: 40px;
        height: 40px;
    }

    &__transition-transition {
        opacity: 1;
        transition: $transition;
        transition-delay: .2s;
    }

    &__transition-enter {
        opacity: 0;
    }

    &__transition-leave {
        display: none;
        opacity: 0;
    }
}
