.Notification {
    position: fixed;
    bottom: 1rem;
    right: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: .5rem;
    cursor: pointer;
    @media (min-width: $break-small) {
    max-width: 300px;
}


    &__item {
        list-style: none;
        padding: 1rem;
        color: $white;
        background: $brand-gradient;
        border-radius: 5px;
        position: relative;
        margin-top: .5rem;

        &:hover {
            &__close {
                transform: scale(1.2);
            }
        }

        &:nth-child(1) {
            margin-top: 0;
        }

        &--success {
            background: $success-gradient;
        }

        &--error {
            background: $danger-gradient;
        }
    }

    &__title {
        display: block;
        width: 100%;
        font-weight: 800;
        text-transform: capitalize;
    }

    &__close {
        position: absolute;
        right: .4rem;
        top: .4rem;
        opacity: .5;
        transition: $transition-fast;
    }

    &__close-icon {
        width: 20px;
        height: 20px;
        stroke: $cloud-burst;
    }


    /* always present */
    &-transition {
      transition: $transition-slow;
      transform: translate3d(0,0,0);
      opacity: 1;
    }

    &-enter {
      transform: translate3d(0, -20px,0);
      opacity: .4;
    }

    &-leave {
        transform: translate3d(0, 20px,0);
        opacity: .2;
    }
}
